@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground: #171717;
}

/* @font-face {
  font-family: 'intercom-font';
  src: url('/fonts/intercom-font.woff2') format('woff2'),
       url('/fonts/intercom-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}